# Directories
node_modules/
build/
dist/
.cursor/
.vite-hooks/
extension/src/common/tesseract/

# System files
.DS_Store
Thumbs.db
linguakit-extension.zip
server/linguakit-server*

# Logs
*.log*

# Temporary files
*.swp
*.bak
*.tmp

# Environment files
bun.lock
AGENTS.md